.info-form__fields--horizontal .info-form__item {
	margin-bottom: 25px;
}

.info-form__fields--horizontal .info-form__field {
	flex-grow: 1;
	margin-right: 10px;
}

.info-form__input {
	width: 100%;
}

.info-form__fields--vertical .info-form__field {
	margin-bottom: 10px;
}

.info-form__fields--horizontal {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.info-form__new-child-btn {
	position: absolute;
	top: -12px;
	right: 0px;
	margin: auto;
}

.info-form__item--about-childs .info-form__fields {
	margin-bottom: 10px;
}

.info-form__item--about-childs .info-form__fields:last-child {
	margin-bottom: 0px;
}

.info-form {
	width: 50%;
	min-width: 300px;
}

.info-form__item {
	margin-bottom: 35px;
}

.info-form__item:last-child {
	margin-bottom: 0px;
}

.info-form__item-title {
	margin-bottom: 20px;
	font-size: 18px;
	position: relative;
}

@media (max-width: 800px) {
	.info-form {
		width: 100%;
	}
	
	.info-form__new-child-btn {
		top: -9px;
	}
}