.info-preview {
	width: 50%;
	min-width: 350px;
}

.info-preview__item {
	margin-bottom: 35px;
}

.info-preview__item:last-child {
	margin-bottom: 0px;
}

.info-preview__item-title {
	margin-bottom: 20px;
	font-size: 18px;
	position: relative;
}

.info-preview__results {
	display: inline-flex;
	flex-direction: column;
}
	
.info-preview__result {
	background: #f1f1f1;
	padding: 15px;
	border-radius: 15px;
	margin-bottom: 10px;
}

.info-preview__result:last-child {
	margin-bottom: 0px;
}

@media (max-width: 800px) {
	.info-preview {
		width: 100%;
	}
}