* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: arial;
	font-size: 16px;
}

body {
	overflow: hidden;
	min-width: 320px;
}

header {
	display: flex;
	height: 76px;
	border-bottom: 1px solid #e7e7e7;
	justify-content: space-between;
	align-items: center;
	background: white;
	padding: 20px;
}

.logo__img {
	max-height: 45px;
}

.nav__item {
	margin-right: 20px;
}

.nav__item:last-child {
	margin-right: 0px;
}

main {
	height: calc(100vh - 152px);
	overflow: auto;
	overflow-x: hidden;
	padding: 30px;
	display: flex;
	justify-content: center;
}

footer {
	height: 76px;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fafafa;
}

.input {
	border: 1px solid #e7e7e7;
	outline: none;
	padding: 10px;
}

.btn {
	cursor: pointer;
	transition: all .5s;
	position: relative;
}

.btn.btn--primary {
	background: #01a7fd;
	border: none;
	border-radius: 50px;
	padding: 10px 20px;
	color: #ffffff;
	border: 2px solid #01a7fd;
}

.btn.btn--primary:disabled {
	background-color: #9c9c9c;
	border-color: #9c9c9c;
}

.btn.btn--primary:hover{
	background: #ffffff;
	color: #01a7fd;
}

.btn.btn--primary:disabled:hover{
	background: #ffffff;
	color: #9c9c9c;
}

.btn.btn--secondary {
	background: #ffffff;
	border-radius: 50px;
	padding: 10px 20px;
	color: #01a7fd;
	border: 2px solid #01a7fd;
}

.btn.btn--secondary:hover{
	background: #01a7fd;
	color: #ffffff;
}

.btn.btn--simple {
	background: none;
	border: none;
	color: #01a7fd;
}

.link.link--simple:after,
.btn.btn--simple:after {
	content: '';
	display: block;
	width: 0%;
	height: 2px;
	background-color: #01a7fd;
	position: absolute;
	bottom: -2px;
	transition: all .5s;
	margin: auto;
	left: 0px;
	right: 0px;
}

.link.link--simple {
	color: #9c9c9c;
	position: relative;
	text-decoration: none;
}

.link.link--simple:after {
	background-color: #9c9c9c;
}

.link.link--simple.link--active:after,
.link.link--simple:hover:after,
.btn.btn--simple:hover:after {
	width: 100%;
}

@media (max-width: 800px) {
	.btn.btn--secondary,
	.btn.btn--primary {
		padding: 8px 10px;
	}
}